.index {
  .card {
    border-radius: 30rpx;
    overflow: hidden;
    margin: 20rpx;
    .bgm {
      color: #fff;
    }
  }
  .title {
    display: flex;
    text {
      flex: 1 auto;
      line-height: 1.5;
    }
  }
}
